<html>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300" rel="stylesheet">
<body>
  <div style="z-index: 1; position: absolute;">
    <img class="bg" src="images/backgroundBLANK.jpg"/>
    <img class="homePageImage" src="images/displaySHADOW.png"/>
  </div>
  <div style="z-index: 2; position: relative;">
    <div class="header">
      <a href="#"><img src = "images/folioLogo2.png" class="logo"></img></a>
      <p class = "mainTitle">folio</p>
      <div class="header-right">
        <a class="menu button" href="/users/login">Log In</a>
        <a class="active button" href="/users/register">Sign Up</a>
      </div>
    </div>
  </div>
  <div style="z-index: 2; position: absolute;">
    <p class="title">Create your own</br>professional portfolio.</p>
    <p class="homeBody">Create, design, manage and develop a portfolio </br> to show off your best work.</p>
    <a href="/users/register"><button class="start">Get Started</button></a>
  </div>
</body>
</html>
